{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historiquegestionretour</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historiqueGestionRetour.id }}</td>
            </tr>
            <tr>
                <th>Dateaction</th>
                <td>{% if historiqueGestionRetour.dateAction %}{{ historiqueGestionRetour.dateAction|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('historique_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('historique_edit', { 'id': historiqueGestionRetour.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
