{% extends 'base.html.twig' %}

{% block body %}
    <h1>Motifretours list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nommotifretour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for motifRetour in motifRetours %}
            <tr>
                <td><a href="{{ path('admin_gestion_motifretour_show', { 'id': motifRetour.id }) }}">{{ motifRetour.id }}</a></td>
                <td>{{ motifRetour.nomMotifRetour }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_gestion_motifretour_show', { 'id': motifRetour.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_gestion_motifretour_edit', { 'id': motifRetour.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gestion_motifretour_new') }}">Create a new motifRetour</a>
        </li>
    </ul>
{% endblock %}
