<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}VIR {% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-toggle.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
        <script   src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-toggle.min.js') }}"></script>

        {% block stylesheets %}

        {% endblock %}
        {% block div %}{% endblock %}
    </head>
    <body>
        {% block nav %}
            {% include "nav.html.twig" %}
        {% endblock %}

        <div class="container-fluid">
            {% if app.session is not null and app.session.started %}
                {% for label, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
