
{% block nav %}
    <nav class="navbar navbar-fixed-top navbar-default " >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand verti" href="{{ path('homepage') }}">
                  <b>VIR</b> - REVIRSE
                </a>

            </div>
            {% if is_granted('ROLE_USER') %}
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if app.request.attributes.get('_route') == 'retours_new' %}class="active"{% endif %}><a href="{{ path('retours_new') }}">Ajouter un retour</a></li>
                        <li {% if app.request.attributes.get('_route') == 'retours_index' %}class="active"{% endif %}><a href="{{ path('retours_index') }}">Listing des retours</a></li>
                    {% if is_granted("ROLE_EXPLOITANT") %}
                        <li {% if app.request.attributes.get('_route') == 'voyage_index' %}class="active"{% endif %}><a href="{{ path('voyage_index') }}">Voyages</a></li>
                    {% endif %}

                    {% if is_granted("ROLE_ADMIN") %}
                        <li {% if app.request.attributes.get('_route') == 'easyadmin' %}class="active"{% endif %}><a href="{{ path('easyadmin') }}">Gestion Appli</a></li>
                    {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% endif %}
                        </li>
                    </ul>

                    {{ render(controller('AppBundle:GestionRetour:barreRecherche')) }}
                </div><!-- /.navbar-collapse -->
            {% endif %}
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}