{% extends 'base.html.twig' %}



{% block body %}
<div class="page-header">
    <H1>Modifer un retour client</H1>
</div>

{{ form_start(edit_form) }}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Informations colis</h3>
            </div>
            <div class="panel-body">

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-6 col-md-3">

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        {{ form_row(edit_form.dateEntreeEntrepot) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        {{ form_row(edit_form.dateSortieEntrepot) }}
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        {{ form_label(edit_form.nomDestinataire) }}
                        {{ form_errors(edit_form.nomDestinataire) }}
                        {{ form_widget(edit_form.nomDestinataire) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        {{ form_label(edit_form.etat) }}
                        {{ form_errors(edit_form.etat) }}
                        {{ form_widget(edit_form.etat) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        {{ form_label(edit_form.numeroSage) }}
                        {{ form_errors(edit_form.numeroSage) }}
                        {{ form_widget(edit_form.numeroSage) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <h4>evenement sage à venir</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        {{ form_label(edit_form.numeroDonneurOrdre) }}
                        {{ form_errors(edit_form.numeroDonneurOrdre) }}
                        {{ form_widget(edit_form.numeroDonneurOrdre) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        {{ form_label(edit_form.donneurOrdre) }}
                        {{ form_errors(edit_form.donneurOrdre) }}
                        {{ form_widget(edit_form.donneurOrdre) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        {{ form_label(edit_form.magasin) }}

                        {{ form_widget(edit_form.magasin) }}
                        {{ form_errors(edit_form.magasin) }}
                    </div>

                </div>



            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Détails colis</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        {{ form_label(edit_form.nombreColis) }}
                        {{ form_errors(edit_form.nombreColis) }}
                        {{ form_widget(edit_form.nombreColis) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        {{ form_label(edit_form.nombreSupport) }}
                        {{ form_errors(edit_form.nombreSupport) }}
                        {{ form_widget(edit_form.nombreSupport) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        {{ form_label(edit_form.prestation) }}
                        {{ form_errors(edit_form.prestation) }}
                        {{ form_widget(edit_form.prestation) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        {{ form_label(edit_form.motifRetour) }}
                        {{ form_errors(edit_form.motifRetour) }}
                        {{ form_widget(edit_form.motifRetour) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        {{ form_label(edit_form.emplacement) }}
                        {{ form_errors(edit_form.emplacement) }}
                        {{ form_widget(edit_form.emplacement) }}
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        {{ form_label(edit_form.commentaire) }}
                        {{ form_errors(edit_form.commentaire) }}
                        {{ form_widget(edit_form.commentaire) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <a class="btn btn-danger" href="{{ path('retours_show', { 'id': gestionRetour.id }) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler</a>

        <button type="submit" class="btn btn-success ">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Modifier le retour
        </button>
    </div>



    {{ form_end(edit_form) }}

    {% endblock %}

    {% block javascripts %}
{{ parent() }}
        <script>
        var $donneurOrdre = $('#appbundle_updategestionretour_donneurOrdre');
        // When sport gets selected ...
        $donneurOrdre.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$donneurOrdre.attr('name')] = $donneurOrdre.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#appbundle_updategestionretour_magasin').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#appbundle_updategestionretour_magasin')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>
{% endblock %}