<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/etiquette.css') }}" type="text/css" media="print">

</head>
<style type="text/css">



</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {% for i in 1 .. gestionRetour.nombreSupport %}
                    <table class="table tg">
                        <tr>
                            <th class="tg-motif" colspan="4">{{ gestionRetour.motifRetour.nomMotifRetour }}</th>
                        </tr>
                        <tr>
                            <td class="tg-destinataire" colspan="4">{{ gestionRetour.nomDestinataire |truncate(20) |upper |raw  }}</td>
                        </tr>
                        <tr>
                            <td class="tg-do" colspan="4">{{ gestionRetour.donneurOrdre.nomDonneurOrdre }}</td>
                        </tr>
                        <tr>
                            <td class="tg-codeBarre div div" colspan="3" rowspan="1">{{ codeSage |raw }}</td>
                            <td class="tg-emplacement" colspan="1" rowspan="2">{{ i }}/{{ gestionRetour.nombreSupport }}</td>
                        </tr>
                        <tr>
                            <td class="tg-noSage" colspan="1"><h2>{{ gestionRetour.numeroSage }}</h2> </td>
                            <td class="tg-dateEntree" colspan="1">{{ gestionRetour.dateEntreeEntrepot|date('d-m-Y') }}</td>
                            <td class="tg-nbColis" colspan="1">Nb colis: {{ gestionRetour.nombreColis }}</td>
                        </tr>
                    </table>
                {% endfor %}
                <hr>
            </div>
        </div>
    </div>
</body>
</html>