{% extends 'base.html.twig' %}

{% block body %}


    <h1>Résultat de votre recherche</h1>

    <div class="col-sm-12 col-md-12">
        <table  class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Numero Sage</th>
                <th>Donneur d'Ordre</th>
                <th>Num DO</th>
                <th>Destinataire</th>
                <th>Nombre de colis</th>
                <th>Emplacement</th>
                <th>Date d'entrée Dépôt</th>
                <th>Date de Sortie Dépôt</th>
            </tr>
            </thead>
            <tbody >
            {% for key, gestionRetour in gestionRetours %}
                <tr {{ gestionRetour.dateReponseDemandeDsa is empty ? "" : "class='danger'" }}>
                    <td><a class="btn btn-small btn-info" href="{{ path('retours_show', { 'id': gestionRetour.id }) }}">{{ gestionRetour.numeroSage }}</a></td>
                    <td>{{ gestionRetour.donneurOrdre.nomDonneurOrdre }}</td>
                    <td>{{ gestionRetour.numeroDonneurOrdre }}</td>
                    <td>{{ gestionRetour.nomDestinataire }}</td>
                    <td>{{ gestionRetour.nombreColis }}</td>
                    <td>{{ gestionRetour.emplacement.nomEmplacement }}</td>
                    <td>{% if gestionRetour.dateEntreeEntrepot %}{{ gestionRetour.dateEntreeEntrepot|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ gestionRetour.dateReponseDemandeDsa is empty ? "" : gestionRetour.dateReponseDemandeDsa|date('d-m-Y')}}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
