{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande N° {{ gestionRetour.numeroSage }}</h1>

    <table>
        <tbody>

            <tr>
                <th>Destinataire</th>
                <td>{{ gestionRetour.nomDestinataire }}</td>
            </tr>
            <tr>
                <th>Code barre Sage</th>
                <td>{{ codeSage |raw }}</td>
            </tr>
            <tr>
                <th>Donneur d'Ordre</th>
                <td>{{ gestionRetour.donneurOrdre.nomDonneurOrdre }}</td>
            </tr>
            <tr>
                <th>Numéro DO</th>
                <td>{{ gestionRetour.numeroDonneurOrdre }}</td>
            </tr>
            <tr>
                <th>Code barre DO</th>
                <td>{{ codeDo |raw }}</td>
            </tr>
            <tr>
                <th>Nombre de colis</th>
                <td>{{ gestionRetour.nombreColis }}</td>
            </tr>
        {% if gestionRetour.donneurOrdre.nomDonneurOrdre == "IKEA" %}
            <tr>
                <th>Date demande DSA</th>
                <td>{% if date(gestionRetour.dateDemandeDsa) ==  date('2000-01-01') %}
                        {{ gestionRetour.dateDemandeDsa|date('') }}
                    {% else %}
                        {{ gestionRetour.dateDemandeDsa|date('d-m-Y') }}
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Date réponse DSA</th>
                <td>
                    {% if date(gestionRetour.dateReponseDemandeDsa) == date('2000-01-01')  %}
                        {{ gestionRetour.dateReponseDemandeDsa|date('') }}
                    {% else %}
                        {{ gestionRetour.dateReponseDemandeDsa|date('d-m-Y') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Numéro de RAQ</th>
                <td>{{ gestionRetour.numeroRaq }}</td>
            </tr>
            <tr>
                <th>Date Reception bon reprise</th>
                <td>{% if date(gestionRetour.dateReceptionBonReprise) ==  date('2000-01-01')%}
                        {{ gestionRetour.dateReceptionBonReprise|date('') }}
                    {% else %}
                        {{ gestionRetour.dateReceptionBonReprise|date('d-m-Y') }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
            <tr>
                <th>Date d'entrée en entrepôt</th>
                <td>{% if date(gestionRetour.dateEntreeEntrepot) ==  date('2000-01-01') %}
                        {{ gestionRetour.dateEntreeEntrepot|date('') }}
                    {% else %}
                        {{ gestionRetour.dateEntreeEntrepot|date('d-m-Y') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de sortie de l'entrepôt</th>
                <td>{% if date(gestionRetour.dateSortieEntrepot) == date('2000-01-01') %}
                        {{ gestionRetour.dateSortieEntrepot|date('') }}
                    {% else %}
                        {{ gestionRetour.dateSortieEntrepot|date('d-m-Y') }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Commentaire</th>
                <td>{{ gestionRetour.commentaire }}</td>
            </tr>

        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('retours_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{ path('retours_edit', { 'id': gestionRetour.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
