{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomagence</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td><a href="{{ path('admin_gestion_agence_show', { 'id': agence.id }) }}">{{ agence.id }}</a></td>
                <td>{{ agence.nomAgence }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_gestion_agence_show', { 'id': agence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_gestion_agence_edit', { 'id': agence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gestion_agence_new') }}">Create a new agence</a>
        </li>
    </ul>
{% endblock %}
