{% block liste_retour %}
    <tbody>
    {% for retour in listing_retour %}
        <tr id="suppr{{ retour.retour.id }}" class="{{ retour.id }}">
            <td id="msg{{ retour.id }}">
                <button type="button" class="btn btn-xs btn-danger" name="suppr" id="{{ retour.retour.id }}" > Supprimer</button>
            </td>
            <td>{{ retour.retour.numeroSage }}</td>
            <td>{{ retour.retour.nombreColis }}</td>
            <td class="chargement"><input id="" name="" type="checkbox" {{ retour.chargement == 0 ? "" : "checked" }} data-toggle="toggle" data-on="Chargé" data-off="En attente" data-onstyle="success" data-offstyle="danger" data-size="mini" data-width="100"></td>
            <td class="dechargement"><input id="" name="" type="checkbox" {{ retour.dechargement == 0 ? "" : "checked" }} data-toggle="toggle" data-on="Déchargé" data-off="En transit" data-onstyle="success" data-offstyle="danger" data-size="mini" data-width="100"></td>

        </tr>
    {% endfor %}
    </tbody>
{% endblock %}

