{% block colis %}
        {% for disponibilite in disponibilites %}
            <div class="col-md12" id="add{{ disponibilite.id }}">
                <button type="button" class="btn btn-xs btn-primary" name="add" id="{{ disponibilite.id }}"> Ajouter</button>
                <span id="msg{{ disponibilite.id }}">{{ disponibilite.magasin.nomMagasin }} / {{ disponibilite.nomDestinataire }} </span>
            </div>
        {% endfor %}
{% endblock %}

