{% extends 'base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Listing des voyages en cour</h1>
</div>

<div class="col-sm-12 col-md-12">
    <table  class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>Gestion du voyage</th>
                <th>Suivi du chargement</th>
                <th>Datecreation</th>
                <th>Dateretour</th>
                <th>Statut</th>
                <th>Actions</th>
                <th>export</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td><a class="btn btn-primary" href="{{ path('voyage_create_retour', { 'id': voyage.id }) }}">{{ voyage.nomVoyage }}</a></td>
                <td><a class="btn btn-info" href="{{ path('voyage_show', { 'id': voyage.id }) }}">{{ voyage.nomVoyage }}</a></td>
                <td>{% if voyage.dateCreation %}{{ voyage.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{% if voyage.dateRetour %}{{ voyage.dateRetour|date('Y-m-d') }}{% endif %}</td>
                <td>{% if voyage.statut %}Yes{% else %}No{% endif %}</td>
                <td><a href="{{ path('voyage_edit', { 'id': voyage.id }) }}">edit</a></td>
                <td><a href="{{ path('voyage_export_xls_package', { 'id': voyage.id }) }}">
                        <img src="{{ asset('img/icones/Excel-icon-32.png') }}" alt="iconeExcel">
                    </a>
                    <a href="{{ path('voyage_export_pdf_package', { 'id': voyage.id }) }}">
                        <img src="{{ asset('img/icones/pdf-icon-32.png') }}" alt="iconePdf">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-sm-12 col-md-12">
    <a class="btn btn-primary" href="{{ path('voyage_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un voyage</a>
</div>


{% endblock %}
