{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voyage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Nomvoyage</th>
                <td>{{ voyage.nomVoyage }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if voyage.dateCreation %}{{ voyage.dateCreation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateretour</th>
                <td>{% if voyage.dateRetour %}{{ voyage.dateRetour|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if voyage.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voyage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('voyage_edit', { 'id': voyage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class=" panel panel-default"  >
                    <div class="panel-heading">
                        <h3 class="panel-title">Retours disponible</h3>
                    </div>
                    <div class="panel-body" id="liste_dispo">
                        {% block colis %}
                            {% include ":voyage:colis_attente_retour.html.twig" %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default" >
                    <div class="panel-heading">

                            <h3 class="panel-title">Retours en attente

                            <a href="{{ path('voyage_export_xls_package', { 'id': voyage.id }) }}">
                                <img src="{{ asset('img/icones/Excel-icon-16.png') }}" alt="iconeExcel">
                            </a>
                            <a href="{{ path('voyage_export_pdf_package', { 'id': voyage.id }) }}">
                                <img src="{{ asset('img/icones/pdf-icon-16.png') }}" alt="iconePdf">
                            </a>
                            </h3>


                    </div>
                    <div class="panel-body" id="liste_retour">
                        {% block liste_retour %}
                            {% include ":voyage:colis_en_cour_retour.html.twig" %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    <script>
        $("button").click(function(e){
            var idClicked = e.target.id;
            var nameClicked = $(this).parent().attr('name');


            if(e.target.name === "add")
            {

                $.ajax({
                    url: "{{ path('detailvoyage_add_package') }}",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        "id":  idClicked,
                        "voyage": {{ voyage.id }}
                    },
                    async: true,
                    success: function (data)
                    {

                        $("#" + idClicked).attr("class" ,"btn btn-xs btn-danger").attr("name" ,"suppr").html("Supprimer");
                        $("#add" + idClicked).hide().appendTo("#liste_retour").slideDown().attr("id" ,"suppr"+ idClicked).attr("name" ,data);

                    }
                });

            }
            else if(e.target.name === "suppr")
            {

                $.ajax({
                    url: "{{ path('detailvoyage_suppr_package') }}",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        "id":  idClicked,
                        "name": nameClicked,
                        "voyage": {{ voyage.id }}
                    },
                    async: true,
                    success: function (data)
                    {

                        $("#" + idClicked).attr("class" ,"btn btn-xs btn-primary").attr("name" ,"add").html("Ajouter");
                        $("#suppr" + idClicked).hide().appendTo("#liste_dispo").slideDown().attr("id" ,"add"+ idClicked).attr("id" ,"add"+ idClicked).attr("name" ,"");

                    }
                });
            }

        });

    </script>
{% endblock %}


